* { margin: 0em; padding:0; box-sizing:border-box; }

body {
	font-family: Yantramanov, Calibri, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

#wrapper {
	width: 90%;
	margin: auto;
}

header {
	background-color: #4B8BB1;
	width: 100%;
	margin: auto;
	display: block;
	margin-top: 1em;
	text-align: center;
}

h1 {
	color: #ecf0f1;
	font-size: 3em;
	text-transform: uppercase;
	padding: .5em 0em 0em 3.25em;
	text-align: center;
}

h2 {
	color: #000;
	font-size: 2em;
	text-transform: capitalize;
	padding-top: .25em;
	text-align: center;
	border-bottom: .1em solid #4B8BB1;
}

h3 {
	color: black;
	font-size: 1.5em;
	text-align: left;
	margin: .5em;
	padding-left: 1.5em;
}

#logo {
	margin: 1em 1em;
	float: left;
}

nav a {
	text-decoration: none;
	color: #ECF0F1;
	font-size: 1.5em;
} 

#mobilenav {
	display: none;
}

nav li {
	list-style: none;
	padding: .5em 2.75em;
	font-weight: 700;
	display: inline;
}

li {
	padding-left: .5em;
	margin-left: 2.25em;
}

nav a:hover {
	background-color: #8E261D;
	color: #ECF0F1;
	font-weight: 700;
}

a:hover {
	font-weight: 700;
	background-color: #2B4F64;
	color: #ECF0F1;
}

a:visited {
	text-decoration: none;
}

.article {
	color: black;
	font-size: 1em;
	padding: .25em;
}

img.article-image {
	float: left;
	padding: 1em 2.75em 0em 1.75em;
	margin-left: 1.5em;
}

img.article-image2 {
	float: right;
	padding: 1 em 1.75em;
	margin: 1.5em;
}

p {
	font-size: 1em;
	font-weight: 400;
}

.left-article {
	margin: .5em;
	padding-left: 1em;
}

.right-article {
	margin: .5em;
	padding-right: 1em;
}

.column {
	color:#000;
	margin: auto;
	font-size: 1em;
}

.column-a {
	background-color: #ecf0f1;
}

.column-b {
	background-color: #61B3E4;
}

.key-date {
	font-weight: 700;
}

footer {
	text-align: center;
	font-size: 1.5em;
	background-color: #4B8BB1;
	width: 100%;
	color: #ecf0f1;
	font-style: italic;
	padding-top: .5em;
	font-weight: 700;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}


@media screen and (max-width: 1480px) {
	img.article-image {
		float: none;
		margin: auto;
		padding: .25em;
		width: 100%;
	}
} 

@media screen and (max-width: 1280px) { 
	img.article-image2 {
		float: none;
		padding: .25em;
		margin: auto;
		width: 100%;
}

@media screen and (max-width: 1050px) {
	#logo {
			margin: auto;
			float: none;
			width: 50%;
		}
	body {
		font-size: 16px;
		text-align: center;
		line-height: 100%;
		padding: 2em;
	}
	h1 {
		font-size: 1.75em;
		margin-bottom: .5em;
	}

	h2 {
		padding-bottom: .5em;
	}

	h3 {
		text-align: center;
		padding: .5em;
	}

	nav li {
		list-style: none;
		padding: 2em 2.75em;
		font-weight: 700;
		display: inline;
	}

	li {
		padding-left: .5em;
		margin: auto;
	}
	

	p {
		font-size: 1.2em;
		padding: .2em;
	}
	footer {
		font-size: 16px;
		text-align: center;
		line-height: 100%;
		padding: 2em;
	}
}

@media screen and (max-width: 650px) {
	body {
	font-size: 14px;
	line-height: 100%;
	padding: 1em;
	}
	
	h1 {
		padding: 1em;
	}
	h2 {
		padding-bottom: .25em .5em;
	}

	h3 {
		padding: .5em;
		line-height: 100%
	}

	nav li {
		padding: 1em;
	}
	li {
	margin-left: .5em;
	padding: 1em;
	}
	p {
		padding: .2em;
	}
}
@media screen and (max-width: 480px) {
	nav li {
		display: none;
	}
	#mobilenav {
		display: inline;
		font-size: 1.5em;
	}
		h1 {
		padding: .25em;
		text-align: center;
		font-size: 1.5em;
	}

	header {
		margin-bottom: .5em;
	}
}