* { 
	margin:0; padding:0; box-sizing:border-box;
}
header {
	margin: .25em;

}
#wrapper {
	margin: auto;
	width: 1200px;
	background-color: #ecf0f1;
}
h1 {
	font-family: "Diplomata SC", Georgia, serif;
	text-align: center;
	margin: .25em;
	color: #2c3e50;
}
hr {
	background-color: #2c3e50;
	height: .1em;
	border: none;
	margin: .25em;
}
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #ecf0f1;
}
nav {
	color: #2c3e50;
	font-family: "Special Elite", "Bookman Old Style", "Times New Roman", serif; 
	font-size: 2em;
}
a {
	text-decoration: none;
	color: #2c3e50;
}
a:hover {
	background-color: blue;
	color: #fff;
}
.column {
	float: left;
	padding:1.25em;
	width:33.33%;
}
#main-content {
	margin: auto;
	width:1200px;
	background-color: #ecf0f1;
}
#column1 {
	width:33.33%;
	vertical-align: middle;
}
#column2 {
	float: left;
	width:33.33%;
	vertical-align: middle;
}
#column3 {
	width:33.33%;
	vertical-align: middle;
}
img {
	float: left;
	display: block;
	padding: 1em;
	margin:1em;
}
li {
	list-style: none;
	color: #2c3e50;
	display: block;
	float: left;
	padding: .5em 1.5em;
	text-align: center;
}
footer {
	clear: both;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
img.large {
	width: 100%;
}
img.small {
	width: 75%;
}
button {
	padding: 1em;
	background-color: #bdc3c7;
	border: none;
	margin:.25em;
	text-align: right;
	padding: .25em;
	display: block;
}
p {
	font-family: "Times New Roman", serif;
	margin: .25em;
	font-size: 1em;
}
span.blog-image {
	width: 25%;
}