* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: rgb(43,79,100);
	background-color: rgba(97,179,228, 0.75);
	font-family: Yantramanov, Calibri, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-left: 1em;
}
header {
	background-color:rgb(169,209,232);
	color:rgba(43,79,100, 0.25);
	padding:1em;
}
#featured {
	width: 100%;
	margin: auto;
	

}
.logo {
	width: 10%;
	height: 10%;
	float: left;
}
hr {
	border:none;
	color: rgb(43,79,100);
	height: .1em;
}
h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: .5em;

}
h2 {font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: .5em;
}
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: .5em;
}
column {
	float: left;
	padding:1.25em;
	width:50%;
}
section {
	margin: .75em;
}
p {
	margin: .5em;
}
#connect {

}
#learn {

}
#share {

}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
