* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #FFFFFF;
	background-color: #1E8BC3;
	font-family: Yantramanov, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
header {
	background-color:#fff;
	color:#222;
	padding:1em;
}
hr {
	border:none;
	color: rgb(255,255,255);
	height: .1em;
}
h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: .5em;

}
h3 {
	font-size: 1.5em;
	text-decoration:underline;
	font-weight: bold;
	text-align: center;
}
ul {
	text-align: center;
	list-style-type: none; 
}
li {
	margin-top:1em;
}
img {
	padding: 1em;
}
#slogan {
	font-style: italic;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

.important {
	font-size: 1.25em;
	font-weight: 500;
	font-style: italic;
	line-height: 1.25em;
	text-align: center;
	margin-top: 1em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
